<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Tag -->
    {% seo %}

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

    <!-- Header -->
    {% include header.html %}

    <div class="page-container">
        {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.html %}

</body>
</html>
