---
layout: default
---

<div class="movie-page">

    <div class="movie-left">
        <img 
          class="poster"
          src="https://www.ziyuehaishi.com/cdn-cgi/image/format=auto,quality=70,width=600/assets/images/{{ page.poster }}"
          alt="{{ page.title }}">

        <ul class="movie-info">
            <li><strong>Title:</strong> {{ page.title }}</li>
            <li><strong>Genres:</strong> {{ page.genres }}</li>
            <li><strong>Release:</strong> {{ page.release }}</li>
            <li><strong>Duration:</strong> {{ page.duration }}</li>
        </ul>

        <p><em>If you need the screener password, please email us.</em></p>
    </div>

    <div class="movie-right">
        <h2>Synopsis</h2>
        <p>{{ page.description }}</p>

        {% if page.trailer1 %}
        <h2>Trailer</h2>
        <iframe width="100%" height="315" src="{{ page.trailer1 }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}

        {% if page.trailer2 %}
        <iframe width="100%" height="315" src="{{ page.trailer2 }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}

        {% if page.screener %}
        <h2>Screener</h2>
        <iframe width="100%" height="315" src="{{ page.screener }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>

</div>
